/* --------------------------------------------------------
BoostBase
---
BoostBase is the base structure for building products for boostui.com.

Version: 0.1
Date Created: 04/02/2018
Author: boostui.com
Email: hello@boostui.com
Website: http://boostui.com
----------------------------------------------------------*/

// Settings: Global Variables & Color Palatte
@import
'settings/bootstrap-override',
'settings/palette',
'settings/variables';

// Vendors: Third-party Styles
@import
  'vendors/bootstrap/bootstrap';

// Tools: Helpers, Mixins & Functions

// Partials: Main Components Styles
@import
  'partials/base';

// Components: Smaller Modules Styles

// Pages: Page-specific Styles

// Shame: Urgent & dirty quick fixes
@import 'shame';